* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

font{
    font-family: "Josefin Sans", sans-serif;
    font-weight:400;
    font-style: normal;
}

/* Style the body to give it a basic background color and font */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f4f4f4;
}

.above-header {
    background-color: #7a4b00;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    flex-shrink: 0;
}

header {
    display: flex;
    background-color: #7f3972;
    color: white;
    padding: 15px 20px;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}

.header-item {
    padding: 10px;
    font-weight: bold;
    flex: 1;
}

.content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.main-content {
    padding: 0px;
    flex: 3;
    border-radius: 2rem;
    border-style:solid;
    
}

.aside-content {
    padding: 0px;
    flex: 1;
    margin-left: 20px;
    border-radius: 2rem;
    border-style:solid;
    justify-content:center;
    align-items: center;
    text-decoration:none;
    text-emphasis-color: black;
}

footer {
    background-color:#7a4b00;
    color: white;
    padding: 15px 20px;
    justify-content: center;
    display:flex;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
}

h1 {
    background-color: #452b45;
    border-radius: 30px 30px 0 0;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
}

h2 {
    background-color: #452b45;
    border-radius: 30px 30px 0 0;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
}

h3 {
    text-align: center;
    padding: 0px;
    font-size: 1rem;
}

.image-text-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.image-text-container-2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-direction: row-reverse;
 }

 .me {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: contain;
 }

.flag-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: contain;
}

figure {
    text-align: center;
    margin: 20px;
    font-style:italic;
}
p {
    flex: 1;
    line-height: 1.6;
}

hr {
    border: 0;
    /* Remove default border */
    border-top: 2px solid #333;
    /* Add a solid line */
    width: 80%;
    /* Adjust the width */
    margin: 20px auto;
    /* Center the line and add some spacing around it */
}

.footer-item {
    margin-bottom: 5px;
}

header nav a {
    color:inherit;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #452b45;
    padding: 15px;
    font-size: 16px;
}

nav a:hover {
    color:goldenrod;
    background-color:#333;
    border-radius: 5px;
}