body {
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fefefe;
    color: #1B4F4D;
}

h1,
h2 {
    font-family: "Shadows Into Light", cursive;
    color: #1B4F4D;
    margin-bottom: 0.5rem;
}

section {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

ul {
    padding-left: 1.2rem;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 0.5rem;
}

.primary-color {
    color: #1B4F4D;
}

.accent-color {
    color: lightblue;
}